
.header {
  background-color: blue;
  width: 100%;
}

.main {
  display: flex;
}

.vodeo {
  display: inline-block;
  background-color: brown;
  width: 80%;
  height: 93vh;
}

.sugessions {
  float: right;
  background-color: darkmagenta;
  width: 20%;

}

.navbar .logo {
  display: inline-block;
  margin-left: 82px;
  margin-top: 11px;
  width: 148px;
  height: 59px;
}

.search-text {
  display: inline-block;
  font-size: 14pt;
}