body {
  margin: 0px;
}

.header {
  background-color: blue;
  width: 100%;
  height: 7vh;
}

.vodeo {
  display: inline-block;
  background-color: brown;
  width: 80%;
  height: 93vh;
}

.sugessions {
  float: right;
  background-color: darkmagenta;
  width: 20%;
  height: 95vh;
}

.navbar .logo {
  display: inline-block;
  margin-left: 82px;
  margin-top: 11px;
  width: 148px;
  height: 59px;
}

.search-text {
  display: inline-block;
  font-size: 14pt;
}